{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["^@([^/]+)/(.*)$", "^[^./@](.*)$", "^@/(.*)$", "^[./]"]
}
