{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["^@(.*)$", "^[^./](.*)$", "^[./]"]
}
